*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(245 218 161);

}
.logo{
    padding: 0 23px;
}

.logo img{
 width: 74px;
}
.content{
    font-family: 'Source Serif 4', sans-serif;
    font-size: 34px;
    font-weight: 900;
}
.container{
    width: 50vw;
    padding: 32px 0px;
    margin: auto;
    font-family: 'Noto Serif', serif;
    font-weight: bold;
}
.toolbar-item button{
    cursor: pointer !important;
    border: 1px solid #fa941b !important;
    border-radius: 15px !important;
    padding: 8px 1.5em !important;
    background: #c17f54 !important;
}